body {
    background-color: red;
}
        
.painel {
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btnYes {
    height: 40px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: -50px;
}

#btnNo {
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
}
